{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Index</title>
{% endblock %}

{% block content %}
<div id="container_primary">
    <div id="container_left"> <h1 class="h1_info">Junte-se à Nossa Comunidade de Notícias Exclusivas!</h1>

        <p class="text">Seja o primeiro a receber as notícias mais quentes e atualizações diretamente na sua caixa de entrada! Em nosso compromisso de mantê-lo informado sobre os assuntos mais relevantes, estamos oferecendo a você a oportunidade de se cadastrar para receber nossas newsletters. <br><br>
        
        Ao se inscrever, você terá acesso privilegiado a:</p>
        
        <ul>
            <div class="lista"><img src="{% static 'img/setaicon.png' %}" id="seta_img" ><b>Manchetes de Última Hora</b></div><br><br>
            
            <div class="lista"><img src="{% static 'img/setaicon.png' %}" id="seta_img" ><b>Artigos Aprofundados</b></div> <br><br>
            
            <div class="lista"><img src="{% static 'img/setaicon.png' %}" id="seta_img" ><b>Eventos e Lançamentos</b> </div> <br><br>
            
            <div class="lista"><img src="{% static 'img/setaicon.png' %}" id="seta_img" ><b>Entrevistas e Perfil de Especialistas</b></div> <br><br>
            
            <div class="lista"><img src="{% static 'img/setaicon.png' %}" id="seta_img" ><b>Destaques Culturais e Entretenimento</b></div> <br><br>
        </ul>
        <img src="{% static 'img/newspaper.png' %}" id="newspaper_icon">
        </div>
    <div id="container_right">

<form  method="post">  {% csrf_token %}
    <h1 id="formulario_h1">Formulario</h1>
<p class="instrucao_formulario_2" >- Preencha o formulario para podermos enviarmos notícias quentinhas para você. -</p>

<div class="input_container"><h1 class="instrucao_formulario">Nome</h1><input type="text" name="nome_usuario" id="" class="form" placeholder="Insira o seu nome completo..."><img src="{% static 'img/usericon.png' %}" id="user_img" >
</div>



<div class="input_container"><h1 class="instrucao_formulario">Email</h1><input type="email" name="email_usuario" id="email" class="form" placeholder="Insira seu email..."><img src="{% static 'img/emailicon.png' %}" id="email_img" ></div>



<div class="input_container"><h1 class="instrucao_formulario">Telefone</h1><input type="number" name="telefone_usuario" id="" class="form" placeholder="Insira seu número de Telefone..."><img src="{% static 'img/telefoneicon.png' %}" id="telefone_img" ></div>

<p class="instrucao_formulario_2" >- Clique no botão "enviar" para enviar as respostas. -</p>

<div class="input_container"><input type="submit" name="" id="enviar" placeholder="Enviar"></div>


</form>
         </div>
</div>
{% endblock %}
